html, body {
    font-family: sans-serif;
}

#homepage-container{
    display:flex;
    flex-direction: row;
}

.homepage-wrapper{
    margin: 40px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.random-img-wrapper {
    width: 400px;
    height:400px;
}
 .random-recipe-img {
    width:400px;
    height: 400px;
 }