@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


#homepage-container {
  background-color: white;
  display: flex;
  flex-direction: row;
}
.homepage-heading {
  line-height: 1.6;
  text-align: center;
  font-family: "Chango", sans-serif;
  font-size: 28px;
  color: rgb(49, 49, 49);
  margin-top: 5px;
}
.homepage-description {
  line-height: 1.6;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: rgb(49, 49, 49);
  margin-top: 5px;
}

.cursive-animated {
  font-weight: 700;
  display: inline-block;
  background-position-x: 0px;
  animation: 3s ease-in-out 0s infinite normal none running gradientAnimation;
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: rgb(56, 123, 255);
  background-image: linear-gradient(
    90deg,
    rgb(162, 68, 255) 0%,
    rgb(52, 182, 255) 50%,
    rgb(162, 68, 255) 100%
  );
  font-size: 34px;
}
@keyframes gradientAnimation {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -200%;
  }
}

.homepage-wrapper {
  margin: 40px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}
#description-wrapper{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 400px;
}

.squiggly {
  margin: 32px;
  position: relative;
  height: 13px;
  width: 100%;
}

.squiggly::after,
.squiggly::before {
  height: inherit;
  width: inherit;
  background-size: 12px 100%; /* Change this to adjust the size of the squiggly line. */
  content: "";
  position: absolute;
}

.squiggly::before {
  top: -3px;
  background-image: linear-gradient(45deg, rgb(148, 110, 207) 35%, transparent 0),
      linear-gradient(-45deg, rgb(148, 110, 207) 35%, transparent 0);
}

.squiggly::after {
  top: 0px;
  background-image: linear-gradient(45deg, white 35%, transparent 0),
      linear-gradient(-45deg, white 35%, transparent 0);
}

#random-img-wrapper {
  width: 360px;
  height: 360px;
  border-radius: 20px;
}

#recipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  border-radius: 20px;
  margin: 10px;
  font: white;
}
#recipeCard h2,
#recipeCard h4 {
  margin: 12px;
  color: black;
}

#tagContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila */
  gap: 1px; /* Espacio entre los elementos */
  justify-content: space-around;
  margin-bottom: 10px;
  font-style: normal;
}
#recipeCard h2,
#recipeCard h4 {
  margin-top: 0px;
  font-style: initial; /* Elimina el margen predeterminado de h2 y h4 */
}
#random-recipe-img {
  width: 400px;
  height: 400px;
  margin-bottom: 0px;
}
#recipeCard:hover {
  transform: scale(1.1); /* Ajusta el nivel de zoom según tus necesidades */
}

#random-button {
  background-color: #77cdff; /* Color beige */

  color: rgb(49, 49, 49); /* Texto en color blanco */
  padding: 20px 20px; /* Ajusta según sea necesario */
  font-size: 20px;
  border-radius: 5px; /* Bordes ligeramente redondeados */
  border-style: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
}
#random-button:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  background-color: #63eef3;
}
