html,
body {
  font-family: "Roboto", sans-serif;
}

#homepage-container {
  display: flex;
  flex-direction: row;
}

.homepage-wrapper {
  margin: 40px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.random-img-wrapper {
  width: 360px;
  height: 360px;
  border-radius: 20px;
}
.random-recipe-img {
  width: 400px;
  height: 400px;
}
