#searchbar-container {
    width: 100%;
    max-width: 600px;
    margin-left:6%;
  }
  
  #search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    width: 210%;
  }
  #search-bar-text {
    
    background-color: #fff;
       
      }
      
  
 
  
