header {
  margin: 0;
  padding: 0;
  top: 0;
  width: 100vw;
  font-family: 'Edu AU VIC WA NT', sans-serif;
  min-height: 4rem;
  /* background-color: #f19dc0; */
  position: absolute;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  font-family: 'Edu AU VIC WA NT';
  color: #faf8eb;
}

#nav-links-wrapper {
  width: 100vw;
  height: 100%;
  display: grid;
  gap: 12px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  justify-content: center;
}

.nav-element {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-element:hover {
  text-decoration: underline;
}

#home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  line-height: 0;
}

#home-link-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 12px;
}

#logo {
  object-fit: cover;
  max-width: 5rem;
}
#logo:hover {
  transform: scale(1.02);
}

#home-name {
  font-family: 'Edu AU VIC WA NT', sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-right: 18px;
  line-height: 0;
}

.selected-element {
  text-decoration: underline;
}

.nav-heading {
  line-height: 1;
  font-size: 18px;
}
