header {
  margin: 0px;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
  height: 70px;
  background-color: #f19dc0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
a {
  text-decoration: none;

}

#nav-links-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0px;
}
.nav-element {
  color:#faf8eb;
  font-size: 20px;
  text-align: center;
  margin-right: 15vw;
}

.nav-element:hover {
  text-decoration: underline;
}

#logo-name-wrapper{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:0.1em;
}

#logo {
  margin: 30px;
  width: 10%;
}
#logo:hover {
  transform: scale(1.02);
}

#home-name{
  font-family: "Chango", sans-serif;
  font-weight: 400;
  color:#faf8eb;
}

.selected-element {
  padding: 12px 12px;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
