header {
  margin: 0;
  padding: 0;
  top: 0;
  max-width: 100%;
  min-height: 4rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-family: 'Edu AU VIC WA NT';
  color: #faf8eb;
}

#nav-links-wrapper {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

.nav-element {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.nav-element:hover {
  text-decoration: underline;
}

#home-wrapper {
  width: auto;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  line-height: 0;
  margin-right: 2rem;
  left: 0;
}

#home-link-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 12px;
  left: 0;
}

#logo {
  object-fit: cover;
  max-width: 5rem;
  align-self: 'start';
}

#logo:hover {
  transform: scale(1.02);
}

#home-name {
  font-family: 'Edu AU VIC WA NT', sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-right: 18px;
  line-height: 0;
}

.selected-element {
  text-decoration: underline;
}

.nav-heading {
  line-height: 1;
  font-size: 18px;
}

.modal-link {
  font-family: 'Gowun Batang', 'sans-serif';
  color: black;
}

@media (max-width: 720px) {
  #nav-links-wrapper {
    padding: 0 1rem;
  }

  .nav-links-right {
    display: none;
  }
}
