#no-access-wrapper{
    display:flex;
    flex-direction: column;
    width:60vw;
    max-height:50vh;
    margin-top:10%;
    padding:1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #f19dc0;
    border-radius: 5px;
}