#search-form {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-end;
}

#search-type-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  height: 18px;
}
.search-selection-box {
  display: flex;
  padding: 6px;
  align-items: start;
  justify-content: center;
  color: white;
  background-color: #5971dd;
  font-family: 'Space Grotesk', sans-serif;
  border-style: none;
  border-top-left-radius: 10px;
  font-size: 14px;
  width: 180px;
  height: 50px;
  z-index: -1;
}

.selected {
  background-color: #dd596b;
}
.search-selection-box:hover {
  cursor: grab;
}

#search-bar {
  width: 80%;
  height: 6px;
  margin: 12px 10px 0 0px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: rgb(233, 230, 230);
  padding: 15px;
  z-index: 2;
}

#search-bar-text {
  background-color: rgb(233, 230, 230);
  width: 96%;
  border: none;
  font-size: 16px;
  outline: none;
}

.search-results-dropdown {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: inherit;
}

.search-result-dropdown-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
  margin: 0;
}

.search-result-dropdown-name {
  display: flex;
  align-items: center;
  position: relative;
}
