#eachObject {
  display: flex;
  align-items: center;
  background-color: white; /* Cambia el color de fondo según tus preferencias */
  border: 1px solid #ccc; /* Añade un borde para resaltar los resultados */
  padding: 10px; /* Ajusta el espaciado interno según sea necesario */
  /* Añade sombra para un efecto visual */
  width: 20%;
  position: relative;
  margin: 0 0 0 35px;
}

#eachObject img {
  width: 40px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: 4f0px; /* Ajusta la altura de la imagen según tus necesidades */
  margin-right: 10px; /* Espaciado entre la imagen y el texto */
  border-radius: 50%; /* Añade un borde redondeado a la imagen (opcional) */
}

#eachObject p {
  margin: 0; /* Elimina el margen por defecto del párrafo */
}
#eachObject:hover {
  transform: scale(1.1);
}
.eachObjectContainer {
  margin-top: 0;
  width: 1000px;
  position: absolute; /* Ajusta el ancho según sea necesario */
}

#search-form {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content:end;
  margin-top: 20px;
  margin-left: 44px;
}

#search-type-wrapper {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.search-selection-box{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #5971dd;
  font-family: 'Space Grotesk', sans-serif;
  border-style: none;
  border-top-left-radius: 10px;
  font-size: 14px;
  width: 160px;
  height: 30px;

}
.search-selection-box:hover{
  cursor:grab;
}

#search-bar {
  width: 80%;
  height: 6px; /* Ocupa tres cuartos del ancho de la pantalla */
  margin: 12px 10px 13px 0px; /* Centra la barra de búsqueda horizontalmente y agrega espacio en la parte superior e inferior */
  border-radius: 20px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde con color gris claro */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar la barra de búsqueda */
  font-size: 16px;
  display: flex; /* Utiliza flexbox para el contenedor principal */
  align-items: center;
  background-color: rgb(233, 230, 230);
  padding: 15px;
}

#search-bar-text {
  background-color: rgb(233, 230, 230);
  width: 96%;
  border: none;
  font-size: 18px;
  outline: none;
}
#search-type-wrapper{
  height: 18px;
}
