@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

html,
body {
  font-family: 'Space Grotesk', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf8eb;
}

.base-wrapper {
  display: flex;
  top: 35vh;
  justify-content: center;
  min-height: 100vh;
  background-color: #faf8eb;
}

.page-wrapper {
  padding: 40px 0 60px 60px;
  background-color: #faf8eb;
}

#circular-progress-allRecipes {
  display: flex;
  font-size: 300%;
  margin-left: 50%;
  margin-top: 15%;
}
#allrecipesPage-button-see-all {
  margin-left: 6%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(247, 231, 231);
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#allrecipesPage-button-see-all:hover {
  transform: scale(1.08);
}
#no-recipe-macht-container-allrecipepage {
  margin-left: 10%;
  font-size: 18px;
}
#circular-progress-dashboard {
  display: flex;
  font-size: 300%;
  margin-left: 45%;
  margin-top: 15%;
}
